// STYLING FOR INFORMATION ABOUT THIS SITE

/* STYLING FOR INFORMATION ABOUT THIS SITE */

.information-site-container
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 2000;
  background: var(--fds-black-alpha-60);
  display: flex;
  align-items: center;
  justify-content: center;
}


.information-site-container .information-site
{
  position: relative;
  width: clamp( 200px, 90vw, 98% );
  height: 95%;
  background: var(--fds-white);
  border-radius: 10px;
  box-shadow: 5px 5px 5px var(--bg-white), -5px -5px 5px var(--bg-white);
  overflow: -moz-hidden-unscrollable;
  overflow: hidden;
  display: flex;
}



.information-site-container .information-site .part 
{
  // border: red solid 2px;
  height: 100%;
  width: 100%;
}

.information-site-container .information-site .part:first-of-type
{
  width: 50%;
}

@media screen and (max-width:1000px) 
{
  
  .information-site-container .information-site
  {
      flex-direction: column;
      overflow-y: auto;
  }
  .information-site-container .information-site .part 
  {
    height: max-content;
    position: relative;
  }

    .information-site-container .information-site .part:first-of-type
    {
      width: 100%;
    }

}


/* Greetings Section (logo and version, etc) */

.information-site-container .information-site .greetings
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-right: 1px solid var(--bg-dark);
}

@media screen and (max-width:1000px) 
{

  .information-site-container .information-site .greetings
  {
    border-right: none;
    border-bottom: 1px solid var(--bg-dark);
    margin-bottom: 20px;
  }
  
}

.information-site-container .information-site .greetings .logos
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.information-site-container .information-site .greetings .logos .logo
{
  width: 45%;
  height: 100px;
}

.information-site-container .information-site .greetings .logos .logo img
{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.information-site-container .information-site .greetings .title :is(h1,h2,h3,h4,h5,h6, div)
{
  margin: 5px 0;
  display: block;
}

.information-site-container .information-site .greetings .title :is(h1,h2,h3,h4,h5,h6, div)  span
{
  font-size: calc(100% - 10px);
  color: var( --text-badge-attention-background);
}

.information-site-container .information-site .greetings .contributors
{
  margin: 10px 0;
}
.information-site-container .information-site .greetings .contributors a
{
  font-weight: bold;
}

.information-site-container .information-site .greetings .copyright
{
  margin: 10px 0;
  font-weight: bold;
  text-transform: uppercase;
}

.information-site-container .information-site .greetings .copyright a:hover
{
  text-decoration: none;
}

/* Greetings Section (logo and version, etc) End */

/*  Info Container */

.information-site-container .information-site .info-container 
{
  position: relative;
}

.information-site-container .information-site .info-container .heading
{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem;
}

.information-site-container .information-site .info-container .heading .title
{
  width: calc(100% - 40px);
  height: 100%;
  letter-spacing: 2px;
  line-height: 30px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}



.information-site-container .information-site .info-container .heading .title svg
{
  width: 30px;
  height: 30px;
  fill: var(--txt-danger);
}

.information-site-container .information-site .info-container .heading .close-btn
{
  width: 40px;
  height: 80%;
  border-radius: 50%;
  border: 1px solid var(--bg-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1000px) 
{

  .information-site-container .information-site .info-container .heading .close-btn
  {
    position: fixed;
    top: 20px;
    right: 10px;
    height: 40px;
    background: var(--bg-dark);
    fill: var(--txt-white);
    color: var(--txt-white);
  }
  
}

.information-site-container .information-site .info-container .content
{
  height: calc(100% - 50px);
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  padding: 0.5rem;
  position: relative;
}

@media screen and (max-width: 1000px) 
{

.information-site-container .information-site .info-container .heading .title
{
  width: 100%;
}

.information-site-container .information-site .info-container .content
  {
    height: max-content;
  }
  
}

/* STYLING THE ACCORDION  */

.information-site-container .information-site .info-container .content .accordion
{
  width: 100%;
  height: max-content;
  margin-bottom: 10px;
}

.information-site-container .information-site .info-container .content .accordion .accordion-heading
{
  background: var(--bg-dark);
  color: var(--txt-white);
  height: 50px;
  display: flex;
  justify-content: space-between;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}


.information-site-container .information-site .info-container .content .accordion .accordion-heading .title
{
  width: calc(100% - 50px);
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  font-weight: 600;
  letter-spacing: 2px;
}

@media screen and (max-width: 1000px) 
{

  .information-site-container .information-site .info-container .content .accordion .accordion-heading
  {
    height: 70px;
  }

  .information-site-container .information-site .info-container .content .accordion .accordion-heading .title
  {
    font-size: calc(100% - 2px);
  }
  
}


.information-site-container .information-site .info-container .content .accordion .accordion-heading .icon
{
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.information-site-container .information-site .info-container .content .accordion .accordion-body
{
  border: 1px solid var(--bg-dark);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0.5rem;
  line-height: 25px;
  letter-spacing: 2px;
  display: none;
}

 .accordion.active .accordion-heading
{
  position: -webkit-sticky;
  position: sticky;
  top: -8px;
}

.information-site-container .information-site .info-container .content .accordion.active .accordion-heading .icon
{
  transform: rotate(180deg);
}

.information-site-container .information-site .info-container .content .accordion.active  .accordion-body
{
  display: block;
}

/* STYLING THE ACCORDION End */

.information-site-container .information-site .info-container .content .message
{
  text-align: center;
  color: var(--txt-danger);
  font-weight: bold;
  font-size: calc(10% + 12px);
  text-transform: uppercase;
  letter-spacing: 1.25px;
}

/*  Info Container End*/

.version-info
{
  width: 100%;
  margin-bottom: 10px;
}

.version-info .title :is(h1,h2,h3,h4,h5,h6)
{
  display: flex;
  align-items: center;
  padding: 0.5rem;
  padding-left: 0;
}

.version-info .title :is(h1,h2,h3,h4,h5,h6) svg
{
  width: 20px;
  height: 20px;
  margin-left: 4px;
}

.version-info.activeV .title :is(h1,h2,h3,h4,h5,h6)
{
  color: var(--txt-success);
}

.version-info.prevV .title :is(h1,h2,h3,h4,h5,h6)
{
  color: var(--txt-warning);
}

.version-info .body
{
  width: 100%;
  max-width: 100%;
}

.version-info .body .part
{
  margin: 7px 0;
  padding-left: 30px;
  width: 100% !important;
}

@media screen and (max-width: 1000px) 
{
  
  
.version-info .body .part
{
  margin: 7px 0;
  padding-left: 0px;
  width: 100% !important;
}

}

.version-info .body ul
{
  padding-left: 30px;
  width: 100%;
  max-width: 100%;
  display: block;
  word-wrap: break-word;
}

.version-info .body ul li
{
  margin: 7px 0;
  display: block;
  width: 100%;
}

.version-info .body ul li p
{
  width: 100%;
  display: block;
  word-wrap: break-word;
}